body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --white: #ffffff;
  --ocean: #404bbf;
}
/* -------------------------------------------------HEADER----------------------------------------- */
.logo-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-header-span {
  color: var(--navy-blue);
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.list {
  list-style: none;
}

.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.nav-contacts-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.header-contacts {
  font-style: normal;
}

/* ----------------------------------------MAIN-INDEX.HTML-------------------------------------------- */
.section-one {
  background-color: var(--navy-blue);
}

.section-one-title {
  font-family: "Roboto" sans-serif;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.order-button {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}

.section-two {
}
.features-list {
}

.features-list-item {
}

.featues-list-item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.featues-list-item-descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.section-three {
}

.what-list {
}

.what-list-item {
}

.section-three-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.what-image {
  width: 360px;
  height: 300px;
}

.section-four {
  background-color: var(--cloud);
}

.section-four-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.our-team-list {
}

.our-team-list-item {
  background-color: var(--white);
}

.team-image {
  width: 264px;
  height: 260px;
}

.team-member-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-member-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* ----------------------------------------MAIN-PORTFOLIO.HTML---------------------------------------- */
.select-button {
  font-family: "Roboto", sans-serif;
  background: var(--cloud);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
}
.select-button:hover,
.select-button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.project-cards-list {
}

.project-cards-list-item {
}

.project-card-image {
  width: 360px;
  height: 300px;
}

.project-cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.project-cards-desription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*-------------------------------------------FOOTER--------------------------------------------------- */
.footer {
  background-color: var(--navy-blue);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-footer-span {
  color: var(--cloud);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
